@import "../../styles/base/variables";
@import "../../styles/base/mixin";

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:150px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;

    h1{
        margin-bottom:100px;
        font-size: 40px;
        font-weight: 800;
        color: $krea;
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 1px solid $border-bottom;
    }

    .wrapper{
        width: 100%;    
        display: flex;
        gap:50px;
        position: relative;
        overflow-x: hidden;
        
        .left{
            height: 100%;
            width: 5%;
            position:absolute;
            top: 0;
            left: 0;
            background:linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%);
            z-index: 5;
        }

        .right{
            height: 100%;
            width: 5%;
            position:absolute;
            top: 0;
            right: 0;
            transform: rotateZ(180deg);
            background:linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%);
            z-index: 5;
        }

        .client-wrapper{
            height: 100%;
            display: flex;
            gap: 50px;
            animation: infScroll 15s linear infinite;
            transform: translate(0, -50%);

            img{
                height: 100px;
                width: auto;
            }

            @keyframes infScroll {
                0% {
                    transform: translatex(0%);
                }
                100% {
                    transform: translatex(-53%);
                }
            }
        }
    }
    
}

