@import "../../styles/base/variables";
@import "../../styles/base/mixin";

.container {
    background-color: $black;
    color:$white;

    .wrapper{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;

        .left{
            p{
                color: #ffffff66;
                font-size: 14px;
            }
            
        }

        .right{
            p{
                text-align: right;
                color: #ffffff66;
                line-height: 1.2rem;
                font-size: 14px;
                margin-bottom: 5px;
            }

            .socialmedia{
                display: flex;
                align-items: center;
                justify-content: space-between;

                svg{
                    fill: #ffffff66;
                    height: 20px;
                    width: 20px;

                    &:hover{
                        fill:$white;
                    }
                }
            }
        }
    }

    
}