// Breakpoints
$breakpoint-large: 1920px;
$breakpoint-medium: 1440px;
$breakpoint-small: 960px;
$breakpoint-xsmall: 480px;

// Colors
$white: #f5f5fa;
$black: #222;
$broken-white: #e5e1e1;
$border-bottom: #d9d9d9;
$krea:#213263;

// Font Size
$title: 30px;
$subheading: 18px;
$body: 16px;
$text: 14px;

